<aside>
  <p class="intro">{{ site.subtitle }}</p>
  <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a>
  <nav class="sidebar-nav" role="navigation">
    <ul>
      {% for link in site.navigation %}
          {% if link.subcategories %}
            <li class="submenu closed"><a href="#">{{ link.text }}</a></li>
            <ul class="sidebar-menu-second hidden">
            {% for subcategory in link.subcategories %}
                {% if subcategory.subcategories %}
                  <li class="submenu closed"><a class="sidebar-nav-second" href="#">{{ subcategory.text }}</a></li>
                  <ul class="sidebar-menu-third hidden">
                    {% for thirdlevel in subcategory.subcategories %}
                      {% if thirdlevel.internal == true %}
                        <li><a class="sidebar-nav-third" href="{{ site.baseurl }}/cloud/{{ thirdlevel.url }}">{{ thirdlevel.text }}</a></li>
                      {% else %}
                        <li><a class="sidebar-nav-third" href="{{ subcategory.url }}">{{ subcategory.text }}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% else %}
                  {% if subcategory.internal == true %}
                    <li><a class="sidebar-nav-second" href="{{ site.baseurl }}/cloud/{{ subcategory.url }}">{{ subcategory.text }}</a></li>
                  {% else %}
                    <li><a class="sidebar-nav-second" href="{{ subcategory.url }}">{{ subcategory.text }}</a></li>
                  {% endif %}
                {% endif %}
              
            {% endfor %}
            </ul>
          {% else %}
            {% if link.internal == true %}
              <li><a href="{{ site.baseurl }}/cloud/{{ link.url }}">{{ link.text }}</a></li>
            {% else %}
              <li><a href="{{ link.url }}">{{ link.text }}</a></li>
            {% endif %}
          {% endif %}
      {% endfor %}
    </ul>
  </nav>
</aside>
